.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: white;
  z-index: 3;
}

.link:hover {
  text-decoration: underline;
}

.link.active {
  color: #e84a5f;
}
